body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup,sub{line-height:-1px;vertical-align:text-top;}sub{vertical-align:text-bottom;}input, textarea, select{font-family:inherit;font-size:inherit;font-weight:inherit;letter-spacing:inherit;}


html {
    padding: 0;
    height: 100%;
    font-size: 62.7%;
}
body {
    font-size: 1.5em;
    padding: 0;
    margin: 0;
    font-family: monospace;
    height: 100%;
}

h1 {
    font-size: 2em;
    margin: .5em;
    font-weight: bold;
}

h2 {
    font-size: 1.5em;
    padding: .25em .5em;
    display: block;
    font-weight: bold;
}

a { text-decoration: none; }
a:hover { text-decoration: underline; }

#home {
}
#home h1 {
    margin: 0 0 1em 0;
}
#home form fieldset {
    padding: 0;
    border: 0;
}
#home .paste-input {
    border: 0;
    margin: 0;
    padding: 1em;
    width: 58em;
    min-height: 40em;
    position: absolute;
    top: 5em;
    bottom: 9em;
    left: 5em;
}
#home .paste-notes {
    position: absolute;
    top: 5em;
    left: 66em;
    margin: 0;
    padding: 0;
}
#home .paste-notes input[type="checkbox"] {
    margin: -.125em .5em 0 0;
    vertical-align: middle;
}
#home .paste-notes li {
    padding: 0 0 .75em;
    list-style: none;
}
#home .paste-notes li a:link {
    text-decoration: none;
}
#home .paste-submit {
    font-family: monospace;
    border: 0;
    height: 3em;
    font-weight: bold;
    display: block;
    width: 60em;
    position: absolute;
    bottom: 5em;
    left: 5em;
    cursor: pointer;
}

#view {
    height: 100%;
}

a.go-comment {
    text-decoration: none;
}

a.page {
    padding: .5em .6em;
    margin-bottom: 1em;
    text-decoration: none;
}

a.prev-page {
    margin-right: 1em;
}

.raw {
    float: right;
    position: absolute;
    top: 1em;
    right: 1em;
    padding: .5em .75em .6em;
    text-decoration: none;
}

table.code {
    height: 100%;
    width: 100%;
}
.multi-paste table.code {
    height: auto;
    margin-bottom: 2em;
}
pre.code-lines {
    padding: 1em 0;
}
pre.line-numbers {
    border-right: .1em solid;
    text-align: right;
    padding: 1em;
    line-height: 1.3em;
    height: 100%;
}
pre.line-numbers a {
    text-decoration: none;
}
div.line {
    padding: 0 1em;
    height: 1.3em;
    line-height: 1.3em;
}

#all {
    padding: 5em;
}
#all table.code {
    height: auto;
    margin-bottom: 2em;
}

.theme-select {
    position: fixed;
    bottom: 1em;
    right: 1em;
}
